
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #262624;
$darkGray: #333;
$gray: #676765;
$lightGray: #eee;
$white: #fff;

$brown: #262624;
$linkColor: #158a97;
$linkHover: #676765;
$teal: #158A97;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;

$mainFont: 'PT Serif', serif;;
$secondaryFont: 'Open Sans', sans-serif;

$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}